<% include ./partials/header %>
	<div class="container-fluid top-margin">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="card mt-3">
				  <div class="card-body">
				  	<h5 class="card-title">Production</h5>
				  	<div class="table-responsive">
					    <table style="font-size: 12px;" class="table table-striped table-dark">
						  <thead>
						    <tr>
                              <th scope="col">Machine Name</th>
                              <th scope="col">Start Time</th>
                              <th scope="col">Item No</th>
						      <th scope="col">Item Name</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">End Time</th>
                              <th scope="col">Date</th>
						    </tr>
						  </thead>
						  <tbody>
                            <% allitems.reverse().forEach(function(allitems){ %>
						    <tr>
						      <th style="text-transform: uppercase;"><%= allitems.machineName %></th>
                              <td style="text-transform: uppercase;"><%= moment(allitems.startTime).format("hh:mm a") %></td>
                              <td><%= allitems.itemNo %></td>
						      <td><%= allitems.itemName %></td>
						      <td><%= allitems.itemQuant %></td>
                              <td style="text-transform: uppercase;"><%= moment(allitems.endTime).format("hh:mm a") %></td>
                              <td><%= moment(allitems.date).format("DD-MMM-YYYY") %></td>
                              <% if(allitems.itemQuant <= 0){%>
                                <td>
                                    <form action="/work-page/production/<%=allitems.id%>?_method=PUT" method="POST">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <input style="width: 5em;" name="quantity" class="form-control form-control-sm" type="text" placeholder="QTY">
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <button type="submit" class="btn btn-sm btn-primary">OK</button>
                                            </div>
                                        </div>
                                    </form>	
                                </td>
                                <% } %>
                            </tr>
                            <%});%>
						  </tbody>
						</table>
					</div>
				  </div>
				</div>
            </div>
        </div>
        
		<!--continue-->
		<div class="container-fluid mt-5">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<h5 class="card-title">Enter Raw Material Section</h5>
					    <table style="font-size: 12px;" class="table table-striped table-dark">
						  <thead>
						    <tr>
                              <th scope="col">Machine Name</th>
                              <th scope="col">Item No</th>
						      <th scope="col">Item Name</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<form action="/work-page/production" method="POST">
							    <tr>
                                  <td scope="row">
                                  	<input name="machine" type="text" class="form-control form-control-sm" placeholder="Machine Name">
                                  </td>
                                  <td>
                                  	<input name="itemNo" type="text" class="form-control form-control-sm" placeholder="Item Number">
                                  </td>
							      <td>
							      	<input name="itemName" type="text" class="form-control form-control-sm" placeholder="Enter item name">
							      </td>
							      <td>
							      	<button type="submit" class="btn btn-primary btn-sm">Submit</button>
							      </td>
							    </tr>

							</form>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include ./partials/footer %>